/*Edit the body of the html document*/
body {background-color:black;font-family:arial;color:white}
/*Edit Header 1 of the html document*/
h1{color:grey;font-family:verdana}
/*Edit the mandiv div class of html document*/
.maindiv {
    background-color:white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}
/*Create a class to align the inner items*/
.innerdiv{
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
}
/*Edit the footer to align properly*/
footer{
    padding-top: 20px;
}    
    
    
